langchain
langchain-community
langchain-core
langchain-ollama
flask
flask-cors
chromadb
transformers
torch
sentence-transformers
langchain-huggingface
nltk
unstructured
python-magic-bin; sys_platform == 'win32'
python-magic; sys_platform != 'win32'
